# Extracting Data from a PDF

In [1]:
import os
import pandas as pd

In [2]:
path = '/Students_At_TU_Dortmund/'

files = sorted([file for file in os.listdir(path) if file.endswith('.txt')])
files

['StuSta_SS_08.txt',
 'StuSta_SS_09.txt',
 'StuSta_SS_10.txt',
 'StuSta_SS_11.txt',
 'StuSta_SS_12.txt',
 'StuSta_SS_13.txt',
 'StuSta_SS_14.txt',
 'StuSta_SS_15.txt',
 'StuSta_SS_16.txt',
 'StuSta_SS_17.txt',
 'StuSta_WS_0708.txt',
 'StuSta_WS_0910.txt',
 'StuSta_WS_1011.txt',
 'StuSta_WS_1112.txt',
 'StuSta_WS_1213.txt',
 'StuSta_WS_1314.txt',
 'StuSta_WS_1415.txt',
 'StuSta_WS_1516.txt',
 'StuSta_WS_1617.txt']

In [3]:
n = 250

data = []
for file in files[-1:]:
    with open(path+'{}'.format(file), 'r') as f:
        i = 0
        while i<n:
            line = next(f).strip()
            if line.startswith('Tab. 1.1.1:'):
                    while i<n:
                        line = next(f).strip().replace('.', '')
                        if line.startswith('Insgesamt'):
                            break
                        if line:
                            data.append([element for element in line.split('  ') if element])
                        i += 1
            i += 1

In [4]:
data_2 = []
columns = data[1]
columns.extend(data[2])
for i in range(1, len(data)):
    if len(data[i])==10:
        data_2.append(data[i])
    if len(data[i])==1 and len(data[i+1])==9 and len(data[i+2])==1:
        element = list([data[i][0]+' '+data[i+2][0]])
        element.extend(data[i+1])
        data_2.append(element)

df = pd.DataFrame(data_2[1:], columns=data_2[0])

for col in df.columns:
    df[col] = pd.to_numeric(df[col], errors='ignore')

In [5]:
df

,Fakult√§t,2012/13,2013,2013/14,2014,2014/15,2015,2015/16,2016,2016/17
0,Mathematik,1605,1443,1736,1515,1647,1473,1674,1458,1573
1,Physik,1197,1111,1361,1253,1421,1297,1503,1378,1540
2,Chemie und Chemische Biologie,1148,1059,1214,1120,1226,1125,1211,1125,1183
3,Informatik,2295,2684,3107,3613,3635,4196,4194,4812,4674
4,Statistik,782,701,1063,941,1148,970,1184,1017,1260
5,Bio- und Chemieingenieurwesen,1500,1445,1628,1543,1636,1542,1651,1538,1668
6,Maschinenbau,3722,3646,4261,4101,4606,4313,4593,4348,4646
7,Elektrotechnik und Informationstechnik,1261,1160,1245,1125,1296,1197,1340,1232,1385
8,Raumplanung,1326,1248,1422,1332,1439,1343,1431,1380,1477
9,Architektur und Bauingenieurwesen,1513,1380,1571,1481,1795,1690,1775,1657,1803
10,Wirtschafts- und Sozialwissenschaften,2501,2419,2653,2461,2721,2485,2873,2661,2874
11,"Erziehungswissenschaft, Psychologie und Soziol...",4366,4010,4272,4056,4451,4133,4534,4218,4858
12,Rehabilitationswissenschaften,1900,1754,1740,1565,1711,1560,1710,1573,1572
13,Humanwissenschaften und Theologie,506,467,445,402,399,391,393,372,373
14,Kulturwissenschaften,2807,2663,2673,2567,2512,2361,2388,2239,2360
15,Kunst- und Sportwissenschaften,1243,1190,1192,1113,1158,1064,1100,1039,989